# Build results
bin/
obj/
publish/
*.exe
*.dll
*.pdb
*.log
*.tlog
*.csv
*.pidb
*.suo
*.user
*.userosscache
*.userprefs
*.nupkg

# Visual Studio
.vscode/
.vs/
.vscode/settings.json
.idea/
*.sln.ide
*.code-workspace

# NuGet
packages/
.nuget/
project.lock.json
project.fragment.lock.json

# Artifacts
artifacts/
out/

# Docker
Dockerfile
*.dockerignore

# macOS
.DS_Store

# Other
*.ide
*.rsuser
